# Ambiente virtual
venv/
.venv/

# Configurações locais / segredos
.env

# Arquivos Python compilados
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Arquivos de IDE/Editor
.vscode/
.idea/
*.code-workspace

# Outros comuns
dist/
build/
*.egg-info/
